/* table container styling */
.tbl-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 25%;
}

/* table styling */
table {
    table-layout: fixed;
    width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

th,
td {
    text-align: center;
    vertical-align: top;
    padding: 0.6em;
    border: 1px solid black;
}

tr:nth-child(even){
  background-color: #eeeeee;
}

th {
    background-color: #999999;
}

/* dialog modal groovy styling */
::backdrop {
    background-image: linear-gradient(
        45deg,
        magenta,
        rebeccapurple,
        dodgerblue,
        green
    );
    opacity: 0.75;
}

dialog button {
    padding: 2px;
    text-align: center;
    align-self: center;
}